@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Feito por Eduardo</h1>
    <br />
    <a href="/paciente/index">Paciente</a>
    <br />
    <a href="/atendimento/index">Atendimento</a>    
</div>
